// Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

// Bootstrap Overide
$font-family-base: 'Roboto', sans-serif;
$font-size-base: 16px;
$font-size-h1: 28px;
$font-size-h2: 24px;
$font-size-h3: 20px;

$brand-primary: #0E4C86;

// Vendor
@import "bootstrap";
@import "font-awesome";

// Partials
@import "partials/base";
@import "partials/markdown";
@import "partials/header";
@import "partials/headline";
@import "partials/single";
@import "partials/blogs";
@import "partials/home";
@import "partials/portfolio";
@import "partials/sidebar";

@import "partials/footer";