.highlight {
    background-color: #222;
    padding: 15px;
    color: #fff;
    border-radius: 5px;
    overflow: auto;

    pre {
        margin: 0;
        padding: 0;
    }
}

p {
    code {
        background: #eee;
        padding: 2px 5px;
        border-radius: 3px;
    }
}