<div id="contact" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: #253340 no-repeat 50% top; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Contact me</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="picture">
                            <img src="/assets/img/profile.png" alt="Jeffrey Naval" class="img-responsive img-rounded">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>Hi there, I'm Jeff. </h4>
                        <p>
                            If you want to chat just mention me on Twitter <a href="https://twitter.com/jeffrey_naval" target="_blank">@jeffrey_naval</a>. Or send me a message on <a href="https://www.linkedin.com/in/jeffreynaval" target="_blank">LinkedIn</a>
                        </p>

                        <hr>

                        {% include social_icons.html %}
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->