{% include header.html %}

<div class="headline-bg"></div>

<section class="home-section over-headline-bg">
    <div class="heading container text-center clearfix">
        <div class="picture">
            <img src="/assets/img/profile.png" alt="{{ site.name }}">
        </div>
        <div class="wrap">
            <h2 class="title">{{ page.title }}</h2>
            <p class="sub-title">{{ page.description }}</p>

            {% include social_icons.html %}
        </div>
    </div>

    <div class="home-container container">
        <div class="home-container-inner">
            <div class="row">
                <div class="col-sm-8 col-md-9 {% if page.content_position == 'right' %}pull-right{% endif %}">
                    <div class="home-content">
                        <div class="crumbtrail">
                            <a href="/">Home</a> <span class="divider">/</span>
                            About me <span class="divider">/</span>
                        </div>

                        {{ content }}
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <aside class="sidebar hidden-xs">
                        {% include sidebar_menu.html %}
                        {% include code_list.html %}
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>

{% include comments.html %}

{% include footer.html %}
