{% include header.html %}

<div class="headline-bg"></div>

<section class="home-section over-headline-bg">
    <div class="title container text-center">
        <h2 class="main-title">{{ page.title }}</h2>
        <p class="sub-title">{{ page.description }}</p>
    </div>

    <div class="home-container container">
        <div class="home-container-inner">
            <div class="row">
                <div class="col-sm-8 col-md-9">
                    <div class="home-content">
                        {{ content }}
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <aside class="sidebar hidden-xs">
                        {% include sidebar_menu.html %}
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>

{% include comments.html %}

{% include footer.html %}