{% include header.html %}

<div class="headline-bg"></div>

<section class="single-section over-headline-bg">
    <h2 class="title container text-center">{{ page.title }}</h2>
    <div class="single-container container">
        <div class="single-container-inner">
            <div class="row">
                <div class="col-sm-8 col-md-9 {% if page.content_position == 'right' %}pull-right{% endif %}">
                    <div class="single-content">

                        <div class="crumbtrail">
                            <a href="/">Home</a> <span class="divider">/</span>
                            <a href="/blog/">Blog</a> <span class="divider">/</span>
                            {{ page.title }} <span class="divider">/</span>
                        </div>

                        {{ content }}
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <aside class="sidebar">
                        {% include sidebar_profile.html %}
                        {% include sidebar_menu.html %}
                        {% include code_list.html %}
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>

{% include comments.html %}

{% include footer.html %}

