.home-section {
    padding-top: 60px;
    position: relative;
    z-index: 10;

    .heading {
        width: 450px;
        color: #fff;
        font-weight: 300;

        .picture {
            display: block;
            max-width: 100px;
            max-height: 100px;
            border-radius: 50%;
            overflow: hidden;
            float: left;
            margin-right: 15px;

            img {
                max-width: 100%;
            }
        }

        .title {
            font-size: 36px;
            margin: 0;
        }

        .sub-title {
            color: #fff;
            font-size: 16px;
            margin: 0 0 5px;
        }

        .wrap {
            float: left;
        }
    }

    .social-icons {

        .btn-twitter {
            color: $twitter-color;
            background: #fff;

            &:hover {
                background: $twitter-color;
                color: #fff;
            }
        }

        .btn-github {
            color: $github-color;
            background: #fff;

            &:hover {
                background: $github-color;
                color: #fff;
            }
        }
    }
}

.home-container {
    margin-top: 60px;
}
.home-container-inner {
    // max-width: 900px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-align: left;
}

.home-content {
    min-height: 300px;

    h1, h2 ,h3, h4, h5, h6 {
        border-bottom: 1px solid #efefef;
        padding-bottom: 10px;
        margin-top: 40px;

        &:first-child {
            margin-top: 0;
        }
    }
}

