.highlight {
    background-color: #222;
    border-radius: 5px;
    margin-bottom: 10px;

    pre {
        background-color: #222;
        margin: 0;
        padding: 15px;
        background-color: transparent;
        border: none;
        color: #fff;
        max-width: 100%;
        overflow: auto;

        code {
            white-space: pre;
            word-wrap: normal;
        }
    }
}
