.single-section {
    padding-top: 60px;
    position: relative;
    z-index: 10;

    .title {
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 0;
        color: #fff;
        font-weight: 300;
    }
}

.single-container {
    margin-top: 60px;
}
.single-container-inner {
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-align: left;
}

.single-content {
    min-height: 300px;

    h1, h2 ,h3, h4, h5, h6 {
        border-bottom: 1px solid #efefef;
        padding-bottom: 10px;
        margin-top: 40px;

        &:first-child {
            margin-top: 0;
        }
    }

}