/** Custom Bootstrap Media Queries **/
$sm-up: "(min-width: 768px)";
$md-up: "(min-width: 992px)";
$lg-up: "(min-width: 1200px)";

/** Social Media Colors **/
$facebook-color: #3C599B;
$twitter-color: #28A9E2;
$google-plus-color: #DC4A38;
$linkedin-color: #0274B3;
$pinterest-color: #CB2027;
$skype-color: #0086B7;
$github-color: #3a3a3a;

$facebook-color-dark: #314980;
$twitter-color-dark: #2292C3;
$google-plus-color-dark: #D04736;
$linkedin-color-dark: #0067A0;
$pinterest-color-dark: #B81E25;
$skype-color-dark: #0079A5;
$github-color-dark: #171515;